<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "tw.pan.mappers.FilmDao">
	<resultMap id = "filmWithCategoryAndActor" type = "tw.pan.entity.po.Film">
		<id property = "filmId" column = "film_id"></id>
		<result property="title" column="title"/>
		<result property="description" column="description"/>
		<result property="category" column="category"/>
		<result property="rentalRate" column="price"/>
		<result property="length" column="length"/>
		<result property="rating" column="rating"/>
		<result property="actors" column="actors"/>
	</resultMap>
	
	<sql id = "filmRef">
		f.film_id, f.title, f.description, c.name AS category, f.rental_rate AS price, f.`length`, f.rating, 
			GROUP_CONCAT(CONCAT(a.first_name, _utf8' ', a.last_name) SEPARATOR ', ') AS actors
		FROM sakila.category AS c
		LEFT JOIN sakila.film_category as fc
		ON c.category_id = fc.category_id
		LEFT JOIN sakila.film AS f
		ON fc.film_id = f.film_id
		LEFT JOIN sakila.film_actor AS fa
		ON f.film_id = fa.film_id
		LEFT JOIN sakila.actor AS a
		ON fa.actor_id = a.actor_id
	</sql>
	
	<sql id = "filmWhereRef">
		<bind name = "textCombine" value = "'%' + text + '%'"></bind>
		f.title LIKE #{textCombine} 
		OR f.description LIKE #{textCombine} 
		OR CONCAT(a.first_name, _utf8' ', a.last_name) LIKE #{textCombine}
	</sql>
	
	<select id = "selectAllFilm" resultMap = "filmWithCategoryAndActor">
		SELECT 
		<include refid="filmRef"></include>
		GROUP BY f.film_id
	</select>
	
	<select id = "selectFilm" resultMap = "filmWithCategoryAndActor">
		SELECT
		<include refid="filmRef"></include>
		<where>
			<if test="text != null">
				<include refid="filmWhereRef"></include>
			</if>
		</where>
		GROUP BY f.film_id
	</select>
	
	<select id = "selectFilmByTexts" resultMap="filmWithCategoryAndActor">
		SELECT
		<include refid="filmRef"></include>
		<where>
			<if test = "texts != null">
				f.title LIKE #{texts} 
				OR f.description LIKE #{texts} 
				OR CONCAT(a.first_name, _utf8' ', a.last_name) LIKE #{texts}
			</if>
		</where>
		GROUP BY f.film_id
	</select>
	
	<select id = "selectFilmByActor" resultMap="filmWithCategoryAndActor">
		SELECT f.film_id, f.title, f.description, c.name AS category, f.rental_rate AS price, f.`length`, f.rating, a.first_name
		FROM sakila.film_actor AS fa
		LEFT JOIN sakila.actor AS a
		ON fa.actor_id = a.actor_id
		LEFT JOIN sakila.film AS f
		ON fa.film_id = f.film_id
		LEFT JOIN sakila.film_category AS fc
		ON f.film_id = fc.film_id
		LEFT JOIN sakila.category AS c
		ON fc.category_id = c.category_id
		<where>
			<if test="actorFullName != null">
				CONCAT(a.first_name, _utf8' ', a.last_name) = #{actorFullName}
			</if>
		</where>
	</select>
	
	<select id = "selectFilmByCategory" resultMap="filmWithCategoryAndActor">
		SELECT
		<include refid="filmRef"></include>
		<where>
			<if test="categoryName != null">
				c.name = #{categoryName}
			</if>
		</where>
		GROUP BY f.film_id
	</select>

</mapper>

