<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "tw.pan.mappers.StaffDao">
	<resultMap id = "staffWithAddress" type = "tw.pan.entity.po.Staff">
		<id property = "staffId" column = "staff_id"></id>
		<result property="fullName" column="fullName"/>
		<result property="picture" column="picture"/>
		<result property="email" column="email"/>
		<result property="active" column="active"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="lastUpdate" column="staff_last_update"/>
		<association property="address" javaType="tw.pan.entity.po.Address">
			<id property = "addressId" column = "address_id"/>
			<result property="address" column="address"/>
			<result property="address2" column="address2"/>
			<result property="district" column="district"/>
			<result property="postalCode" column="postal_code"/>
			<result property="phone" column="phone"/>
			<result property="lastUpdate" column="address_last_update"/>
			<association property="city" javaType="tw.pan.entity.po.City">
				<id property="cityId" column="city_id"/>
				<result property="city" column="city"/>
				<result property="lastUpdate" column="city_last_update"/>
				<association property="country" javaType="tw.pan.entity.po.Country">
					<id property="countryId" column="country_id"/>
					<result property="country" column="country"/>
					<result property="lastUpdate" column="country_last_update"/>
				</association>
			</association>
		</association>
		<association property="store" javaType="tw.pan.entity.po.Store">
			<id property = "storeId" column = "store_id"></id>
			<result property="managerStaffId" column="manager_staff_id"/>
			<result property="lastUpdate" column="store_last_update"/>
		</association>
	</resultMap>
	
	<sql id = "staffColumnRef">
		 st.staff_id, CONCAT(st.first_name, _utf8' ', st.last_name) AS fullName, st.email, st.username, st.password
	</sql>
	
	<sql id = "staffFromRef">
		 sakila.staff AS st
	</sql>
	
	<sql id = "orderByRef">
		 st.staff_id
	</sql>
	
	<select id = "selectAllStaff" resultMap="staffWithAddress">
		SELECT
		<include refid="staffColumnRef"/>
		FROM
		<include refid="staffFromRef"></include>
		ORDER BY
		<include refid="orderByRef"></include>
	</select>
	
	<select id = "selectStaffByUsername" resultMap="staffWithAddress">
		SELECT
		<include refid="staffColumnRef"/>
		FROM
		<include refid="staffFromRef"></include>
		<where>
			<if test = "username != null">
				st.username = #{username}
			</if>
		</where>
		ORDER BY
		<include refid="orderByRef"></include>
	</select>

</mapper>

